/*
----TYPOGRAPHY SYSTEM
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHTS
400
500
600
700

-LINE HEIGHT
Default:1.0
small:1.05
paragraph default:1.6
medium:1.2


-LETTER SPACING
-0.5px
0.75px

--02 COLORS
Primary: #e67e22

Tints: 
#fdf2e9
 #fae5d3
Shades:
Accents:
Greys:
#6f6f6f
#555
#333

---05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);


---06 BORDER-RADIUS
default:9px
medium:11px

---07 WHITESPACES

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    line-height: 1.0;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
}


/******************************/
/* GENERAL REUSABLE CONTENT */
/******************************/

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}
.grid:not(:last-child){
    margin-bottom: 9.6rem;
}

.grid--2--cols{
    grid-template-columns: repeat(2,1fr);
}

.grid--3--cols{
    grid-template-columns: repeat(3,1fr);
}

.grid--4--cols{
    grid-template-columns: repeat(4,1fr);
}
.grid--5--cols{
    grid-template-columns: repeat(5,1fr);
}
.grid-center-v{
    align-items:center;
}
.primary-heading,
.heading-secondary,
.heading-tertiary{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #333;

}
.primary-heading{
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
.heading-secondary{
    line-height: 1.2;
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
}
.heading-tertiary{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.subheading{
    display: block;
    font-size: 1.6rem;
    letter-spacing: 0.75px;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 9px;
    transition: all 1s;
    border: none;
    cursor: pointer;
    padding: 1.6rem 3.2rem;
}
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: white;
}
.btn-outline:link,
.btn-outline:visited{
    background-color: white;
    color: #555;
}
.btn-full:hover,
.btn-full:active{
    background-color: #cf711f;
}
.btn-outline:hover,
.btn-outline:active{
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px white;
}

.link:link,
.link:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.link:hover,
link:active{
    color:#cf711f;
    border-bottom: 1px solid transparent;
}
 
.list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;

}
.list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}

.btn-form{
    padding: 1.2rem;
    color: #fdf2e9;
    background-color:#45260a;
    padding: 1.2rem;
    align-self:end;
}
.btn-form:hover{
    color: #555;
    background-color: #fff;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5) ;
}

/******************************/
/* HELPER CLASS */
/******************************/
.strong{
    font-weight:500;
   
}

.mrgr{
    margin-right: 1.6rem !important;

}
.mrgb{
    margin-bottom: 4.8rem !important ;
}

.center-text{
    text-align: center;
}