@media (max-width: 84em)
{
    .hero{
        max-width: 120rem;
    }
    .heading-primary{
        font-size: 4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 75em){
    .html{
        font-size: 56.25%;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .main-nav-list{
        gap: 3.2rem;
    }
    
    .heading-secondary{
        font-size: 3.6rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .header{
        padding:2.4rem 3.2rem
    }
    .hero{
        gap: 4.8rem;
    }
    
.testimonial-container{
    padding: 9.6rem 3.2rem;
}
}

@media (max-width: 59em){
    .html{
        font-size: 50%;
    }
    .hero{
        grid-template-columns: 1fr;
    }
    
    .hero-image-box,
    .hero-textbox{
        text-align: center;
    }
    .hero-image{
        width: 60%;
    }    
    .delievered-meals{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos img{
        height: 2.4rem;
    }

    .step-num{
        font-size: 7.4rem;
    }
    
    .meal-content{
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;
    }
    
    .section-testimonials{
    grid-template-columns: 1fr;
    }
    
    .gallery{
    grid-template-columns: repeat(6,1fr);
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    
.cta-form{
    display: grid;
    grid-template-columns: 1fr;
}

    
.step-image{
    width: 15%;
   
}
.step-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
    
.grid--footer{
    
    grid-template-columns: 1.2fr 1.2fr 0.8fr 0.8fr 0.8fr;
}
    
.grid{
    display: grid;
    row-gap: 6.4rem;
    column-gap: 3.2rem;
}
    
.main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.2rem;
}

.btn-mobile-nav{
    display: block;
    z-index: 9999;
}
.main-nav{
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5sec ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translatex(100%);
}

.nav-open .main-nav{
    opacity: 1;
    pointer-events:auto;
    visibility:visible;
    transform: translatex(0);
}
.nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
}


.nav-open .icon-mobile-nav[name="menu-outline"]{
    display:none;
}

.main-nav-list{
    flex-direction: column;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
    font-size: 3rem;
}
}

@media (max-width: 44em){
    
    .grid--3--cols, 
    .grid--4--cols{
        grid-template-columns: repeat(2,1fr);
    }
    .diets{
        grid-column: 1/-1;
        justify-self:center ;
    }
    
    .heading-secondary{
        margin-bottom: 4.8rem;
    }
    .pricing-plan{
        width: 100%;
    }
    .grid--footer{
        grid-template-columns: repeat(6,1fr);
    }
    .logo-col,.adress-col{
        grid-column: span 3;
    }
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 32.rem;
    }
}


@media (max-width: 33em){
  
.btn,
.btn:link,
.btn:visited{
    padding: 2.4rem 1.6rem;
}  
    .grid{
        row-gap: 4.8rem;
    }
    .grid--3--cols,.grid--4--cols,.grid--2--cols{
        grid-template-columns: 1fr;
    }
    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 3.2rem;
    }
    
.hero-image{
    width: 80%;
 }
 .logos img{
    height: 1.2rem;
 }
 .step-img-box:nth-child(2){
    grid-row: 1;
 }
 
 .step-img-box:nth-child(6){
    grid-row: 5;
 }
 
 .step-img-box{
    transform: translatey(2.4rem);
 }
 .testimonials{
    grid-template-columns: 1fr;
 }
 
.gallery{
  
    grid-template-columns: repeat(4,1fr);
    gap:1.2rem;
}
.cta{
    grid-template-columns: 1fr;
}
.cta-text-box{
    padding: 3.2rem;
}
.cta-image-box{
height: 36rem;
grid-row: 1;
}
}